<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahathisol.salesapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/iconhems"
        android:label="@string/app_name"
        android:supportsRtl="true"
          android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".activities.ForgotpasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".activities.BloothPrinterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePrint"
            android:label="@string/print_option"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.DeviceListActivity"
            android:screenOrientation="portrait"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="orientation|keyboardHidden" />

        <receiver android:name=".utils.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GPS_Service">

        </service>
    </application>

</manifest>